<mat-dialog-content>
    <h2>Edit User</h2>
    <form [formGroup]="userForm" (ngSubmit)="saveChanges()">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="password" placeholder="Current Password" formControlName="currentPassword" required>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Role" formControlName="role" required>
          <mat-option value="admin">Admin</mat-option>
          <mat-option value="waiter">Waiter</mat-option>
          <mat-option value="chef">Chef</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-button color="primary" type="submit">Save</button>
      <button type="button" mat-button color="warn" (click)="closeModal()">Cancel</button>
    </form>
  </mat-dialog-content>
  