
mat-card{
    max-width: 400px;
    margin:2rem auto;
    text-align: center;
    margin-top:50px;
    padding: 15px;
}
mat-form-field{
    display: block;
    padding:4%;
}
mat-card .login-button {
    color: var(--md-sys-color-primary-ligth);
  }

.logo{
width: 80%;
}

.main-background {
    background-image: url('src/app/assets/img/rest.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 15px;
    position: fixed; /* Asegura que el fondo cubra toda la ventana */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Asegura que el fondo esté detrás de otros elementos */
    filter: contrast(0.7);
  }
  .container-error,
  .container-error-password,
  .error-message {
    height: 20px; /* Establece la altura que deseas para que el espacio esté presente */
    overflow: hidden;
  }
  
  .container-error.show,
  .container-error-password.show,
  .error-message.show {
    height: auto; /* Permite que la altura sea automática cuando hay un mensaje de error */
  }
  