
mat-card{
    max-width: 400px;
    margin:2rem auto;
    text-align: center;
    margin-top:0;
    padding: 15px;
}
mat-form-field{
    display: block;
}
mat-card .login-button {
    color: var(--md-sys-color-primary-ligth);
  }
.main-background {
    background-image: url('../../assets//img/rest.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 15px;
  }

