.scrollup {
    background-color: var(--title-color);
    border-radius: 0.4rem;
    bottom: 20px; /* Cambiado a un valor positivo para asegurarse de que esté en el área visible */
    color: #000;
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    position: fixed;
    right: 2.5rem;
    transition: 0.4s;
    z-index: var(--tooltip);
    cursor: pointer;
  }
  
  .scrollup i {
    font-size: 1.5rem;
  }
  