

.ordered-details {
  display: flex;
  flex-wrap: wrap;
}

.ordered-details span {
  flex: 1;
  margin-right: 15px; /* Espacio entre elementos */
  align-items: center;
}

.order-details{
  color: #FFFFFF;
  font-weight: bold;
  background-color: #666161;
  padding:2%;
}

ul {
  list-style-type: none; 
}

mat-form-field{
  display: block;
}



.order-section {
  flex: 1; 
  display: flex;
  flex-direction: column;
  padding: 10px; 
  margin-top: 5%;
  margin-left: 50px;
  margin-right: 50px;
}

.formOrder {
  margin-bottom: 20px; 

}

