<!--<main>
    <app-header></app-header>
    <div class="table-container">
      <app-kitchen
        [showDeleteColumn]="false"  Oculta la columna de eliminación -->
       <!-- [showDeliveredButton]="true" Muestra el botón para cambiar a "delivered" -->
        <!--[orders]="doneOrdersDataSource"  Lista de órdenes "done" -->
        <!--(orderDelivered)="handleOrderDelivered($event)"  Maneja el evento cuando se cambia el estado a "delivered" -->
      <!--</app-kitchen>
    </div>
  </main> -->
