<main>
    <app-header></app-header>
    <button mat-raised-button (click)="navigateToOrdersView()" class="order-button mat-primary">
      <span>Return to Orders</span>
    </button>
    <div class="table-container"> 
      <table mat-table [dataSource]="dataSource" matSort class="tabla">

      <!-- ... Columna Status -->
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let order">
          <button mat-icon-button (click)="changeStatusOrderWaiter(order)" *ngIf="order.status === 'done'">
            <mat-icon aria-label="Change Status" color="green">check_circle</mat-icon>
          </button>
          <mat-icon *ngIf="order.status === 'delivered'" color="green">flight</mat-icon>
        </td>
      </ng-container>
      
      
      
      
        <!-- Columna Cliente -->
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
          <td mat-cell *matCellDef="let order"> {{ order.client }} </td>
        </ng-container>
        <!-- Columna Productos -->
        <ng-container matColumnDef="products">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Products </th>
          <td mat-cell *matCellDef="let order">
            <div *ngFor="let product of order.products">
              ({{ product.qty }}) {{ product.product.name }},&nbsp;
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </main>
  