<main>
<app-header></app-header>
  <div class="container">
    <div class="menu">
        
          <div class="order-ready-button-container">
            <button mat-raised-button (click)="navigateToReadyOrdersView()" class="order-ready-button mat-primary">
              <mat-icon class="ready" color="warn">check_circle</mat-icon>
              <span>Ready Orders</span>
            </button>
          </div>
        <div class="filters">
          <button (click)="filterProducts('Breakfast')"mat-raised-button>Breakfast</button>
          <button (click)="filterProducts('Lunch')"mat-raised-button>Lunch</button>
          <button (click)="filterProducts('Beverages')"mat-raised-button>Beverages</button>
          <button (click)="filterProducts('Combos')"mat-raised-button>Combos</button>
          <button (click)="filterProducts('Sides')"mat-raised-button>Sides</button>
          <button (click)="showAllProducts()"mat-raised-button>See all</button>
        </div>
        <div class="product-grid">
          <div class="product-card" *ngFor="let product of productsToShow">
            <mat-card class="mat-card-custom">
              <mat-card-content class="mat-card-content-custom" (click)="addProductToOrder(product)">
                <p>{{ product.name }}</p>
                <p>Price: {{ product.price }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    <div class="order-section">
      <form [formGroup]="orderForm">
        <div class="formOrder">
          <mat-form-field>
            <input matInput formControlName="clientName" placeholder="Client Name">
          </mat-form-field>
          <button type="submit" (click)="createOrder()" class="login-button mat-primary" mat-raised-button>Send to Kitchen</button>
        </div>
      </form>
      <div class="order-details">
        <div>
          <h2>Products in the order:</h2>
          <ul>
            <li *ngFor="let item of orderedProducts; let i = index">
              <div class="ordered-details">
                <mat-icon class="add" (click)="incrementQuantity(item)">add</mat-icon>
                <span>{{ item.quantity }}</span>
                <span>{{ item.product.name }}</span>
                <span>{{ item.price }}</span>
                <mat-icon (click)="deleteProduct(i)">delete</mat-icon>
              </div>
            </li>
          </ul>
        </div>
        <div class="total">
          <span>Bill Payment:</span>
          <span>{{ getTotal() }}</span>
        </div>
        <div class="order-success-message" *ngIf="orderSuccess">
          Order succesfully sent to kitchen
        </div>
      </div>
    </div>
  </div>
</main>
