<main>
  <app-header></app-header>
  <div class="container">
    <div class="menu">
      <div class="filters">
        <button (click)="filterProducts('Breakfast')"mat-raised-button>Breakfast</button>
        <button (click)="filterProducts('Lunch')"mat-raised-button>Lunch</button>
        <button (click)="filterProducts('Beverages')"mat-raised-button>Beverages</button>
        <button (click)="filterProducts('Combos')"mat-raised-button>Combos</button>
        <button (click)="showAllProducts()"mat-raised-button>See all</button>
      </div>
      <div class="product-grid">
        <div class="product-card" *ngFor="let product of productsToShow">
          <mat-card class="mat-card-custom">
            <mat-card-content class="mat-card-content-custom" (click)="addProductToOrder(product)">
              <p>{{ product.name }}</p>
              <p>Price: {{ product.price }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="order-section">
      <form [formGroup]="orderForm">
        <div class="formOrder">
          <mat-form-field>
            <input matInput formControlName="clientName" placeholder="Client Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="tableNumber" placeholder="Table Number">
          </mat-form-field>
          <button type="button" (click)="createOrder()" class="login-button mat-primary" mat-raised-button>Send to Kitchen</button>
        </div>
      </form>
      <div class="order-details">
        <div>
          <h2>Products in the order:</h2>
          <ul>
            <li *ngFor="let item of orderedProducts; let i = index">
              <div class="ordered-details">
                <svg class="add" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"  (click)="incrementQuantity(item)">
                  <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"fill="white"/></svg>
                <span>{{ item.quantity }}</span>
                <span>{{ item.product.name }}</span>
                <span>{{ item.price }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" (click)="deleteProduct(i)">
                  <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" fill="white"/>
                </svg>
              </div>
            </li>
          </ul>
        </div>
        <div class="total">
          <span>Bill Payment:</span>
          <span>{{ getTotal() }}</span>
        </div>
        <div class="order-success-message" *ngIf="orderSuccess">
          Order succesfully sent to kitchen
        </div>
      </div>
    </div>
  </div>
</main>
