<mat-dialog-content>
    <h2>Create Product</h2>
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Price" formControlName="price" required>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Image URL" formControlName="image">
      </mat-form-field>
  
      <mat-form-field>
        
        <mat-select placeholder="Type" formControlName="type" required>
            <mat-option value="breakfast">Breakfast</mat-option>
            <mat-option value="lunch">Lunch</mat-option>
            <mat-option value="beverages">Beverages</mat-option>
            <mat-option value="combos">Combos</mat-option>
            <mat-option value="Sides">Sides</mat-option>
          </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Date Entry" formControlName="dateEntry" required>
      </mat-form-field>
  
      <button mat-button color="primary" type="submit">Save</button>
      <button type="button" mat-button color="warn" (click)="closeModal()">Cancel</button>
    </form>
</mat-dialog-content>
